// http://axis.bitballoon.com/#normalize-css
// normalize-css()

header
    border: 1px solid silver
    width: 70%
    margin: 0 auto
    padding: 2em

#logo
    height: 100px
    width: 100px
    background: url(/img/logo.svg)
    background-size: contain
